[user]
	name = Justin Flannery
	email = justin.flannery@juftin.com
[init]
	defaultBranch = main
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[core]
	excludesfile = ~/.gitignore
[alias]
	dunk = !git add --all --intent-to-add && git diff HEAD | dunk | less -R --mouse --wheel-lines=3
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
[oh-my-zsh]
	hide-info = 1
	hide-status = 1
	hide-dirty = 1
