[user]
	name = Justin Flannery
	email = justin.flannery@juftin.com
[init]
	defaultBranch = main
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[core]
	excludesfile = ~/.gitignore
[alias]
	dunk = !git diff HEAD | dunk | less -R
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
